body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}




#root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
  width: 80%;
  margin: 0 auto
}

.homeHeader {
  text-align: center;
}
.authorName {
  text-align: center;
  font-size: 1.5rem;

}



.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.nameSurnameBox > h1 {
  font-size: 1rem;


}

.image {
  width: 18rem;
}

section > div {
  margin-right: 8%;
}

section {
  padding: 2rem;
}

iframe {
  margin-top: 3%
}






    
